<section id="header-section">
  <header class="sticky top-0 z-50 bg-white/80 backdrop-blur-sm">
    <div class="container mx-auto px-4 py-3 flex items-center justify-between">
      <a class="flex items-center space-x-2" routerLink="#">
        <img src="./appLogo.jpg" class="h-6 w-6 custom-icon">

        <span class="text-xl font-bold text-green-600">EcoMovil</span>
      </a>
      <nav class="hidden md:flex space-x-6">
        <a routerLink="/how-it-works" routerLinkActive="active" fragment="how-it-works" class="text-sm font-medium hover:text-green-600 transition-colors">{{'header.router1'|translate}}</a>
        <a routerLink="/who" routerLinkActive="active" fragment="who" class="text-sm font-medium hover:text-green-600 transition-colors">{{'header.router2' | translate}}</a>
        <a routerLink="/plans" routerLinkActive="active" fragment="plans" class="text-sm font-medium hover:text-green-600 transition-colors">{{'header.router3' | translate}}</a>
        <a routerLink="/about" routerLinkActive="active" fragment="about" class="text-sm font-medium hover:text-green-600 transition-colors">{{'header.router4' | translate}}</a>
        <a routerLink="/join" routerLinkActive="active" fragment="join" class="text-sm font-medium hover:text-green-600 transition-colors">{{'header.router5' | translate}}</a>
      </nav>
      <button (click)="redirectToExternalPage()" class="bg-green-600 text-white hover:bg-green-700 rounded px-4 py-2">{{ 'header.register' | translate }}</button>
      <app-language-switcher/>

    </div>
  </header>
</section>

<app-main></app-main>

<section id="how-it-works">
  <app-how-it-works></app-how-it-works>
</section>

<section id="who">
  <app-whocanuse></app-whocanuse>
</section>

<section id="plans">
  <app-plans></app-plans>
</section>

<section id="about">
  <app-about></app-about>
</section>

<section id="join">
  <app-join></app-join>
</section>

<app-footer></app-footer>



